<section id="employees">
  <h1>Employees</h1>

  <p>Total: <%= @employees.size %> (<%= link_to('Add new', new_employee_path) %>)</p>

  <table class="table">
    <tr>
      <th>Name</th>
      <th>Last chat</th>
      <th>Days since last</th>
    </tr>

    <% @employees.sort{ |e1, e2| e2.days_since_last_chat <=> e1.days_since_last_chat }.each do |employee| %>
    <tr data-href="<%= employee_path(employee) %>">
      <td><%= employee.name %></td>
      <td><%= if employee.last_chat.respond_to?(:strftime) then employee.last_chat.strftime('%d.%m.%Y') end %></td>
      <td><%= employee.days_since_last_chat %></td>
    </tr>
    <% end %>
  </table>
</section>
