<section id="employees">
  <h1>Employees</h1>

  <p>Total: <%= @employees.size %> (<%= link_to('Add new', new_employee_path) %>)</p>

  <table id="employee-table" class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Days since last</th>
        <th>Status</th>
        <th>Staffing</th>
      </tr>
    </thead>

    <tbody>
      <% @employees.sort{ |e1, e2| e2.days_since_last_chat <=> e1.days_since_last_chat }.each do |employee| %>
      <tr data-href="<%= employee_path(employee) %>">
        <td><%= employee.name %></td>
        <td><%= employee.days_since_last_chat %></td>
        <td><%= employee.happiness %></td>
        <td><%= employee.staffing %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>
