<section id="employees">
  <h1>Employees</h1>

  <p>Total: <%= @employees.size %> (<%= link_to('Add new', new_employee_path) %>)</p>

  <table class="table">
    <tr>

      <th>Name</th>
      <th>ID</th>
    </tr>

    <% @employees.each do |employee| %>
    <tr data-href="<%= employee_path(employee) %>">
      <td><%= employee.name %></td>
      <td><%= link_to(employee.bekk_id, employee_path(employee)) %></td>
    </tr>
    <% end %>
  </table>
</section>
