<section id="employee" class="col-md-12">
  <h1>Employee</h1>

  <%= link_to 'Overview', employees_path %>

  <p><%= @employee.name %> (<%= @employee.bekk_id %>)</p>

  <a href="https://intern.bekk.no/Staffing2/Ansatte/<%= @employee.bekk_id %>" target="staffing-frame" class="staffing-link">Staffing</a>
  <div id="staffing-frame-holder" class="hidden col-md-12">
    <iframe name="staffing-frame"></iframe>
  </div>

  <% @employee.notes.each do |n| %>
    <h3>
      <% if n.happiness == 'Bad' then %>
        <span style="color: #a94442;" class="glyphicon glyphicon-warning-sign"></span>
      <% elsif n.happiness == 'Average' then %>
        <span style="color: #8a6d3b;" class="glyphicon glyphicon-warning-sign"></span>
      <% end %>

      <%= unless n.added_at == nil then n.added_at.strftime('%d.%m.%Y') end %>
    </h3>

    <p><%= markdown(n.note) %></p>
  <% end %>


  <h2>Note:</h2>
  <%= form_for([@employee, @employee.notes.build]) do |f| %>
  <div class="form-group">
    <%= f.label :date %>
    <div class="input-group col-md-3 date">
      <%= f.text_field :added_at, class: 'form-control' %>
      <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
    </div>
  </div>

  <div class="form-group">
    <%= f.select :happiness, ['Good', "Average", "Bad"], class: 'form-control', selected: 'Good' %>
  </div>

  <div class="form-group">
    <%= f.label :note %>
    <%= f.text_area :note, class: "form-control", rows: 3 %>
  </div>
  <%= f.submit class: "btn btn-default" %>
  <% end %>
<section>
